name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Setup Go environment
      uses: actions/setup-go@v5.6.0
      
    - uses: actions/checkout@v4
    
    - name: Set image tag
      run: echo "IMAGE_TAG=$(date +%s)" >> $GITHUB_ENV
    
    - name: Build image
      run: docker build -t ${{ secrets.DOCKER_USER }}/jri-bot:${{ env.IMAGE_TAG }} .
    
    - name: Push image
      run: docker push ${{ secrets.DOCKER_USER }}/jri-bot:${{ env.IMAGE_TAG }}
    
    
